<h1>Developer Index</h1>
<% @developers.each do |developer| %>
  <h3><%= link_to "#{developer.name}", "/developers/#{developer.id}"  %></h3>
  <p>Created at: <%= developer.created_at.strftime("%b %d, %Y %I:%M %p") %></p>
<% end %>