<h1> Developer Show </h1>
<h2><%= @developer.name %></h2>
<p><%= "Located: #{@developer.location}" %></p>
<p><%= "Number of awards: #{@developer.num_awards}" %></p>
<p><%= "Still active: #{@developer.still_active}" %></p>